body {
    background:#e6f1f3d6;
}

.post-form input, textarea{
    display: block;
    margin-top: 5px;
}

.post {
    border: 1px solid black;
    margin-top: 5px;
}

p.time{
    padding: 5px;
    background: #2a9288;
    width: fit-content;
    margin-bottom: 0px;
float:right    font-size: 0.8em;
}

h2, h3, a{
    color: #666f15e6;
}