{%extends 'base.html'%}

{% block content%}
<h1>we see yo</h1>
<div class="new-post">
  <div class="post">
      <h2>Create new Post</h2>
    <form class="post-form" action="{% url 'blog:newpost'%}" method="post">
      {%csrf_token%}
      {{form}}
      <input type="submit" name="Post" value="Create Post">
    </form>

  </div>
</div>
{%endblock%}
