{%extends 'base.html'%}

{% block content%}
  <h3><a href="{% url 'blog:newpost'%}">Add Post</a></h3>

<div class="posts">
  {%for post in posts%}
    <div class="post">
        <h2><a href="#">{{post.title}}</a></h2>
        <p>{{post.body}}</p>
        <p class="time">{{post.timestamp}}</p>

    </div>

  {%endfor%}
</div>
{%endblock%}
