{% load static %}


<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}">

  </head>
  <body>
    <h1>Free Post</h1>
    <p>Speak your mind</p>
    <div class="wrapper">
      {% block content%}
      {%endblock%}
    </div>

  </body>
</html>
